Transform: AWS::Serverless-2016-10-31

Parameters:
  TableName:
    Type: String
    Default: hotel_checkout_system

  JwtSecret:
    Type: String
    NoEcho: true

Globals:
  Function:
    Architectures:
      - arm64
    Timeout: 20
    Runtime: python3.13
    CodeUri: ..
    Layers:
      - !Ref DepsLayer

    Environment:
      Variables:
        TABLE_NAME: !Ref TableName
        PYTHONUNBUFFERED: "1"
        JWT_SECRET: !Ref JwtSecret
        JWT_ALGORITHM: "HS256"

Resources:
  DepsLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: deps-layer
      Description: Python dependencies 
      ContentUri: ../layers/deps
      CompatibleRuntimes:
        - python3.13
      RetentionPolicy: Retain

  ApiGateway:
    Type: AWS::Serverless::Api
    Properties:
      StageName: v1
      Cors:
        AllowMethods: "'GET,POST,PUT,DELETE,OPTIONS'"
        AllowHeaders: "'Content-Type,Authorization'"
        AllowOrigin: "'*'"
      Auth:
        DefaultAuthorizer: MyLambdaRequestAuth
        Authorizers:
          MyLambdaRequestAuth:
            FunctionArn: !GetAtt AuthFunction.Arn
            AuthorizerType: REQUEST
            Identity:
              Header: Authorization

  AuthFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: src.handlers.auth.jwt_authorizer.lambda_handler
      Environment:
        Variables:
          JWT_SECRET: !Ref JwtSecret
          JWT_ALGORITHM: "HS256"
      Policies:
        - AWSLambdaBasicExecutionRole

  AuthInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref AuthFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com


  SchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: AllowInvokeAutoCheckout
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt AutoCheckoutFunction.Arn


  LoginFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: src.handlers.auth.login.login_handler
      Events:
        ApiEvent:
          Type: Api
          Properties:
            Path: /login
            Method: POST
            RestApiId: !Ref ApiGateway
            Auth:
              Authorizer: NONE
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref TableName

  SignupFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: src.handlers.auth.signup.signup_handler
      Events:
        ApiEvent:
          Type: Api
          Properties:
            Path: /signup
            Method: POST
            RestApiId: !Ref ApiGateway
            Auth:
              Authorizer: NONE
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref TableName



  GetRoomsFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: src.handlers.rooms.get_rooms.get_rooms
      Events:
        ApiEvent:
          Type: Api
          Properties:
            Path: /rooms
            Method: GET
            RestApiId: !Ref ApiGateway
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref TableName

  UpdateRoomFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: src.handlers.rooms.update_room.update_room
      Events:
        ApiEvent:
          Type: Api
          Properties:
            Path: /rooms/{room_id}
            Method: PUT
            RestApiId: !Ref ApiGateway
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref TableName



  CreateBookingFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: src.handlers.bookings.create_booking.create_booking
      Environment:
        Variables:
          AUTO_CHECKOUT_LAMBDA_ARN: !GetAtt AutoCheckoutFunction.Arn
          SCHEDULER_ROLE_ARN: !GetAtt SchedulerRole.Arn
      Events:
        ApiEvent:
          Type: Api
          Properties:
            Path: /bookings
            Method: POST
            RestApiId: !Ref ApiGateway
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref TableName
        - Statement:
            - Effect: Allow
              Action:
                - scheduler:CreateSchedule
                - scheduler:UpdateSchedule
                - scheduler:DeleteSchedule
              Resource: !Sub "arn:aws:scheduler:${AWS::Region}:${AWS::AccountId}:schedule/*"
            - Effect: Allow
              Action:
                - iam:PassRole
              Resource: !GetAtt SchedulerRole.Arn

  ListBookingsFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: src.handlers.bookings.get_bookings.get_user_bookings
      Events:
        ApiEvent:
          Type: Api
          Properties:
            Path: /users/{user_id}/bookings
            Method: GET
            RestApiId: !Ref ApiGateway
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref TableName


  AutoCheckoutFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: src.handlers.checkout.auto_checkout.auto_checkout
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref TableName
        - Statement:
            - Effect: Allow
              Action:
                - ses:SendEmail
                - ses:SendRawEmail
              Resource: "*"

Outputs:
  ApiUrl:
    Description: API Gateway endpoint
    Value: !Sub "https://${ApiGateway}.execute-api.${AWS::Region}.amazonaws.com/v1"
